body{
  margin: 0;
  padding: 0;
}

.body{
  margin: 10px;
  padding: 5px;
  border: 2px solid #2464ab;
}

.header{
  margin: 5px;
  background-color: #275c3b;
  color: white;
  text-align: center;
  border: 2px solid #2464ab;
}

.mid-section{
  display: flex;
}

.side-nav{
  width: 20%;
  height: 74vh;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #723ba3;
  color: white;
  text-align: center;
  border: 2px solid #2464ab;
}

.main-section{
  width: 80%;
  height: 74vh;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #723ba3;
  color: white;
  text-align: center;
  border: 2px solid #2464ab;
}

.main-section-div{
  height: 100px;
}

.footer{
  margin: 5px;
  background-color: #275c3b;
  color: white;
  text-align: center;
  border: 2px solid #2464ab;
}

/* .form-bg{
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid darkgray;
  border-radius: 10px;
}

h2{
  text-align: center;
  margin-top: 0;
  color: dodgerblue;
  font-weight: bold;
}

.form-group{
  margin-bottom: 15px;
}

label{
  display: block;
  margin-bottom: 5px;
  color: rgb(68, 68, 68);
}

input{
  width: 97%;
  height: 30px;
  padding: 5px;
  border: 1px solid darkgray;
  border-radius: 5px;
  font-size: 14px;
}

button{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: dodgerblue;
  color: white;
  border: 0;
  border-radius: 5px;
}

button:hover{
  background-color: rgb(21, 102, 184);
} */